In [1]:
import pandas as pd

df = pd.read_csv("./q2/dataset.csv")

df.drop("Unnamed: 0", axis=1, inplace=True)
new_column_names = {col: col.split("_")[1] for col in df.columns}
df.rename(columns=new_column_names, inplace=True)


df.head()

,0,1,2,3,4,5,6,7,8,9,...,20521,20522,20523,20524,20525,20526,20527,20528,20529,20530
0,0.0,2.017209,3.265527,5.478487,10.431999,0.0,7.175175,0.591871,0.0,0.0,...,4.926711,8.210257,9.723516,7.220030,9.119813,12.003135,9.650743,8.921326,5.286759,0.0
1,0.0,0.592732,1.588421,7.586157,9.623011,0.0,6.816049,0.000000,0.0,0.0,...,4.593372,7.323865,9.740931,6.256586,8.381612,12.674552,10.517059,9.397854,2.094168,0.0
2,0.0,3.511759,4.327199,6.881787,9.870730,0.0,6.972130,0.452595,0.0,0.0,...,5.125213,8.127123,10.908640,5.401607,9.911597,9.045255,9.788359,10.090470,1.683023,0.0
3,0.0,3.663618,4.507649,6.659068,10.196184,0.0,7.843375,0.434882,0.0,0.0,...,6.076566,8.792959,10.141520,8.942805,9.601208,11.392682,9.694814,9.684365,3.292001,0.0
4,0.0,2.655741,2.821547,6.539454,9.738265,0.0,6.566967,0.360982,0.0,0.0,...,5.996032,8.891425,10.373790,7.181162,9.846910,11.922439,9.217749,9.461191,5.110372,0.0

In [2]:
zero_columns = df.columns[(df == 0).all()]
print(zero_columns)
df.drop(zero_columns, axis=1, inplace=True)

Index(['5', '23', '4370', '4808', '4809', '4814', '4816', '4817', '4831',
       '5288',
       ...
       '18908', '18909', '18910', '18911', '18914', '18915', '19450', '19451',
       '19452', '19671'],
      dtype='object', length=267)

In [3]:
print(df.head())

     0         1         2         3          4         6         7    8    9  \
0  0.0  2.017209  3.265527  5.478487  10.431999  7.175175  0.591871  0.0  0.0
1  0.0  0.592732  1.588421  7.586157   9.623011  6.816049  0.000000  0.0  0.0
2  0.0  3.511759  4.327199  6.881787   9.870730  6.972130  0.452595  0.0  0.0
3  0.0  3.663618  4.507649  6.659068  10.196184  7.843375  0.434882  0.0  0.0
4  0.0  2.655741  2.821547  6.539454   9.738265  6.566967  0.360982  0.0  0.0

         10  ...     20521     20522      20523     20524     20525  \
0  0.591871  ...  4.926711  8.210257   9.723516  7.220030  9.119813
1  0.000000  ...  4.593372  7.323865   9.740931  6.256586  8.381612
2  0.000000  ...  5.125213  8.127123  10.908640  5.401607  9.911597
3  0.000000  ...  6.076566  8.792959  10.141520  8.942805  9.601208
4  0.000000  ...  5.996032  8.891425  10.373790  7.181162  9.846910

       20526      20527      20528     20529  20530
0  12.003135   9.650743   8.921326  5.286759    0.0
1  12.674552  10.517059   9.397854  2.094168    0.0
2   9.045255   9.788359  10.090470  1.683023    0.0
3  11.392682   9.694814   9.684365  3.292001    0.0
4  11.922439   9.217749   9.461191  5.110372    0.0

[5 rows x 20264 columns]

In [4]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

df_scaled = StandardScaler().fit_transform(df)

kmeans = KMeans(n_clusters=5)
cluster_labels = kmeans.fit_predict(df)

output = pd.DataFrame({"clusters": cluster_labels}).to_csv("./q2/output.csv")

/opt/anaconda3/envs/sut-default-env/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(